:global body {
  padding: 0;
  margin: 0;


  .playground-gallery {
    float: right;
    border: none;
    padding: 0;
    margin: 0;
    background: white;
    transition: width 0.4s ease;
  }

  .playground-gallery.closed {
    width: 100%;
  }

  .toggle-settings {
    position: fixed;
    z-index: 999;
    cursor: pointer;
    top: 15px;
    left: 470px;
    transition: all 0.4s ease;
    transform: rotate(180deg);

    &:hover {
      transform: rotate(180deg) scale(1.4);
    }

    &.closed {
      left: 15px;
      transform: rotate(0deg);

      &:hover {
        transform: rotate(0deg) scale(1.4);
      }
    }
  }


  .close-settings {
    left: 470px;
  }

  .open-settings {
    display: none;
    left: 15px;
  }


}
