:global {
  html, body, #root {
    height: 100%;
  }

  body {
    padding: 0;
    margin: 0;
    overflow: hidden;

    .load-gallery-button {
      position: fixed;
      right: 20px;
      bottom: 20px;
      z-index: 9999;
    }

    .playground-container {
      height: 100%;
    }

    .playground-gallery {
      height: 100%;
      overflow: scroll;
      float: right;
      flex: 0 0 auto;
      border: none;
      padding: 0;
      margin: 0;
      overflow: scroll;
      transition: width 0.4s ease;
    }

    .playground-gallery.closed {
      width: 100%;
    }

    .toggle-settings {
      position: fixed;
      z-index: 999;
      cursor: pointer;
      top: 15px;
      left: 475px;
      transition: all 0.4s ease;
      transform: rotate(180deg);

      &:hover {
        transform: rotate(180deg) scale(1.4);
      }

      &.closed {
        left: 15px;
        transform: rotate(0deg);

        &:hover {
          transform: rotate(0deg) scale(1.4);
        }
      }
    }

    .close-settings {
      left: 470px;
    }

    .open-settings {
      display: none;
      left: 15px;
    }
  }
}
