body {
  padding: 0;
  margin: 0;
}

iframe.playground-iframe {
  float: left;
  border: none;
  padding: 0;
  margin: 0;
  width: calc(100% - 500px);
  height: 100%;
  background: white;
  transition: width 0.4s ease;
}

iframe.playground-iframe.closed {
  width: 100%;
}

div.playground-settings {
  float: left;
  width: 500px;
  height: 100%;
  overflow: auto;
  /*background/: #444;*/
  /*color: #eee;*/
  box-sizing: border-box;
  padding: 20px 20px 180px;
  transition: margin 0.4s ease;
  position: relative;
}

div.playground-settings.closed {
  margin-left: -500px;
}

div.playground-settings form {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.help-block {
  font-size: 12px;
  font-weight: 200;
  color: #888;
  display: inline;
  font-style: italic;
}

.toggle-settings {
  position: fixed;
  cursor: pointer;
  top: 15px;
  transition: all 0.4s ease;
}

.toggle-settings:hover {
  transform: scale(1.4);
}

.close-settings {
  left: 470px;
}

.open-settings {
  display: none;
  left: 15px;
}

h3 {
  margin: 20px -30px 10px;
  text-transform: uppercase;
  border-top: 1px solid #7a8288;
  padding: 15px 0 18px;
  text-align: center;
  background: linear-gradient(#252525, #272b30);
  font-size: 27px;
  letter-spacing: 1px;
}

.checkbox-inline table {
  width: 23px;
  height: 23px;
  background: #666;
}

.checkbox-inline table td {
  border: 1px solid #ccc;
}

.slider {
  width: 100% !important;
}

.submit-box {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 30px;
  background: #1a1a1a;
  border-top: 1px solid #666;
  width: 500px;
  transition: left 0.4s ease;
}

div.playground-settings.closed .submit-box {
  left: -500px;
}

.form-control {
  background-color: #ddd;
}

.form-group {
  margin-bottom: 25px;
}

.radio label,
.radio-inline label,
.checkbox label,
.checkbox-inline label {
  font-weight: 200;
}

table.playground-layouts {
  width: 100%;
  background: transparent;
}

table.playground-layouts > thead > tr > th {
  border-bottom: 1px solid #666;
  line-height: 40px;
  text-align: center;
  font-weight: 200;
  font-size: 13px;
}

table.playground-layouts > tbody > tr > td {
  border-top: 1px solid #666;
  padding: 10px;
  text-align: center;
  font-weight: 200;
  font-size: 12px;
}

table.playground-layouts > tbody > tr > td.left {
  text-align: left;
}

table.playground-layouts input[type="checkbox"] {
  margin-left: -30px;
}

table.playground-layouts input[type="checkbox"] ~ table {
  /*margin-left: -40px;*/
}

table.playground-layouts input:checked ~ table {
  background: #3899ec;
}

label {
  font-weight: 200;
}

.form-group > label {
  color: white;
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
  letter-spacing: 1.5px;
}

